/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --logo-blue-color: #2196F3;
  --title-color: #212121;
  --text-color: #757575;
  --logo-black-color: #000000;
  --white-color: #FFFFFF;
  --bg-color: #2F303A;
  --footer-mail: rgba(255, 255, 255, 0.6);
  --button-bg-port: #F5F4FA;
  --icon-color: #AFB1B8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.logo--blue {
  color: #2196F3;
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: #FFFFFF;
}
.logo__footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
}

.mail-link,
.tel-link,
.site-nav .link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon-mobil {
  height: 16px;
  width: 10px;
}

.icon-mail,
.icon-mobil {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5%;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.site-nav .link {
  color: #212121;
}

.icon-mail,
.icon-mobil {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mobil {
  height: 16px;
  width: 10px;
}

.link:hover,
.link:focus {
  color: #2196F3;
}

.link:hover .icon-mail,
.link:hover .icon-mobil,
.link:focus .icon-mail,
.link:focus .icon-mobil {
  fill: #2196F3;
}

.head {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
}
.head__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.head__link {
  position: relative;
  padding: 0;
  margin: 0;
}
.head__list .head__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head__link:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .nav__desktop,
.head__list {
    display: none;
  }
  .icon-menu {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
  .icon-mail,
.icon-mobil {
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: #757575;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .head__logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__menu {
    cursor: pointer;
    display: inline-block;
    border-color: transparent;
    background-color: #FFFFFF;
    fill: black;
  }
  .head__backdrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 999;
  }
  .head__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .menu__btn-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
  }
  .menu__icon-close {
    width: 40px;
    height: 40px;
    fill: #000000;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__icon-close:hover {
    fill: #2196F3;
  }
  .site-nav .link {
    color: #212121;
  }
  .menu__container {
    width: 100%;
    padding: 48px 40px;
  }
  .menu__mail-phone {
    position: fixed;
    bottom: 134px;
    left: 40px;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
  }
  .menu__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .menu__section {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .menu__section-list {
    margin: 0;
    padding: 0;
  }
  .menu__link:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .menu__social {
    position: fixed;
    bottom: 48px;
    left: 40px;
    z-index: 1;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  .social__link:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .head__logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mail-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .head__list .head__mail:not(:last-child) {
    margin-right: 50px;
  }
  .head__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mail-link,
.tel-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .head__backdrop,
.head__menu {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .footer__adress {
    letter-spacing: 0.03em;
  }
  .footer__mail {
    letter-spacing: 0.03em;
  }
  .footer__tel {
    letter-spacing: 0.03em;
  }
  .mail:not(:last-child) {
    margin-bottom: 8px;
  }
  .feedback-mail {
    margin-bottom: 20px;
  }
  .feedback-mail .form-fild {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__footer .mail:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__title {
    margin: 0 0 20px 0;
  }
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__social {
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer__feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 32px;
    margin-right: 32px;
  }
  .feedback-mail {
    margin-right: 12px;
  }
  .feedback-mail .form-fild {
    width: 358px;
  }
  .form-footer {
    margin-left: auto;
  }
}
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer .address-mail, .footer__social {
    margin-bottom: 60px;
  }
  .footer .feedback-mail .form-fild {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__address {
    text-align: center;
  }
  .footer .action-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 165px;
    row-gap: 60px;
  }
  .footer__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__social,
.footer .address-mail {
    text-align: center;
  }
  .footer .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .feedback-mail .form-fild {
    width: 450px;
  }
  .footer .feedback-mail {
    text-align: center;
  }
}
.footer__adress {
  color: #FFFFFF;
  line-height: 1.71;
}
.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  display: inline-block;
}
.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-footer {
  height: 20px;
  width: 20px;
  fill: #FFFFFF;
}

.list-footer {
  border-radius: 50%;
}

.list-footer:not(:last-child) {
  margin-right: 10px;
}

.link-footer {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.form-call {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.feedback-mail .form-fild {
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2F303A;
  color: #FFFFFF;
  padding: 0 0 0 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.feedback-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-send {
  height: 24px;
  width: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.link-footer:hover,
.link-footer:focus {
  background-color: #2196F3;
}

.link:hover .icon-mail,
.link:hover .icon-mobil,
.link:focus .icon-mail,
.link:focus .icon-mobil {
  fill: #2196F3;
}

.link:hover,
.link:focus {
  color: #2196F3;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.decoration-link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.current {
  color: #2196F3;
}

.service__titel {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .service__titel {
    font-size: 44px;
    line-height: 1.36;
  }
}
.service__bg {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .service__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_480.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .service__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .service__bg {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .service__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .service__bg {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .service__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/service/img_3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/service/img_3200.jpg);
  }
}
.service__button {
  display: inline-block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
@media screen and (min-width: 1200px) {
  .service__button {
    min-width: 216px;
  }
}
.service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .features__text {
    margin-bottom: 0;
    width: 270px;
  }
}
.features__icon {
  height: 70px;
  width: 70px;
}
.features__icon-border {
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}
.features__title {
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__card {
    max-width: 354px;
    width: calc((100% - 30px) / 2);
  }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.work {
  padding-bottom: 94px;
}
@media (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work__title {
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work__list-icon {
  position: relative;
}
.work__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__title {
    font-size: 28px;
  }
  .team .action {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team__information {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.team__text {
  margin: 0;
  margin-bottom: 16px;
}
.team__text, .team__name {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team__name {
  color: #212121;
  font-weight: 500;
  margin-bottom: 10px;
}

.one-of-team {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .one-of-team {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .one-of-team {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .one-of-team {
    width: 270px;
  }
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-icon:not(:last-child),
.list-footer:not(:last-child) {
  margin-right: 10px;
}

.link-icon:hover .icon-social,
.link-icon:focus .icon-social {
  fill: #FFFFFF;
}

.link-icon:hover,
.link-footer:hover,
.link-icon:focus,
.link-footer:focus {
  background-color: #2196F3;
}

.icon-social {
  height: 20px;
  width: 20px;
  fill: #FFFFFF;
}

.icon-social {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .one-of-team:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
  .client__list:not(:last-child) {
    margin-right: 30px;
  }
}
.client__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.client__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (max-width: 1199px) {
  .client__action {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: #2196F3;
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: #2196F3;
}
@media screen and (max-width: 767px) {
  .client__list {
    max-width: 210px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__list {
    max-width: 226px;
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .container-modal {
    max-width: 450px;
    width: 100%;
  }
  .modal-window__titel {
    line-height: 1.5;
  }
  .form__btn {
    padding: 10px 52px;
  }
}
@media screen and (max-width: 1199px) {
  .form__person, .form__tel, .form__mail {
    margin-bottom: 28px;
  }
  .form__comment {
    margin-bottom: 20px;
  }
  .form__checkbox-label {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .madal-window {
    width: 528px;
    height: 581px;
  }
  .madal-window__titel {
    line-height: 1.15;
  }
  .container-modal {
    width: 450px;
  }
  .form__person, .form__tel, .form__mail, .form__comment {
    margin-bottom: 10px;
  }
  .form__btn {
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 55px;
  }
  .form__checkbox-label {
    font-size: 14px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-window__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}
.modal-window__icon-close {
  width: 18px;
  height: 18px;
  fill: #000000;
}
.modal-window__btn-close:hover .modal-window__icon-close, .modal-window__btn-close:focus .modal-window__icon-close {
  fill: #2196F3;
}
.modal-window__titel {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0;
  margin: 0 0 12px 0;
}

.container-modal {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__person, .form__tel, .form__mail, .form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.form__text {
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-size: 12px;
  margin-bottom: 4px;
}
.form__comment-field {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.form__input:focus, .form__comment-field:focus {
  outline: 1px solid #2196F3;
}
.form__input:focus + .form__icon {
  fill: #2196F3;
}
.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}
.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.form__checkbox-label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.form__link {
  color: rgb(33, 150, 243);
}
.form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
}
.form__checkbox:checked + .form__checkbox-icon {
  background-color: #2196F3;
  background-image: url(../images/icon-check-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
  background-origin: border-box;
}
.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

@media screen and (max-width: 1199px) {
  .btn-port {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px 8px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 1199px) {
  .collection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .collection__border {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .collection {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .collection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .collection .btn-port {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .collection .list-btn:not(:last-child) {
    padding-right: 8px;
  }
  .collection .decoration-link {
    text-decoration: none;
  }
}
.collection__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .collection__link:not(:last-child) {
    margin-bottom: 30px;
  }
}
.collection__link:hover, .collection__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.collection__link:hover .collection__description, .collection__link:focus .collection__description {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.collection__border {
  border: 1px solid #EEEEEE;
  background: #FFFFFF;
  border-top-color: transparent;
}
.collection__img {
  display: block;
}
.collection__description {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  padding: 0;
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.collection__text-image {
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.collection__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
}
.collection__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 24px;
}

.button-port {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  height: 38px;
  border: none;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-port.current,
.button-port:hover,
.button-port:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-btn:first-child .button-port {
  padding: 6px 25px;
}

.image-description {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-port {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .collection__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .collection__link {
    max-width: 354px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .image-description {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .image-description {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .image-description {
    width: 370px;
  }
}/*# sourceMappingURL=main.css.map */