.client {
  @media screen and (max-width:1199px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width:1200px){
    &__link{
      width: 170px;
    }
    &__list:not(:last-child) {
    margin-right: 30px;
    }
  }
  padding-top: 94px;
  padding-bottom: 94px;

  &__icon {
    fill: $icon-bg-color;
    width: 106px;
    height: 60px;

    transition: fill 250ms $time-function;
  }
  &__title {
    @media screen and (min-width:1200px){
      font-size: 36px;
      line-height: 1.16;

      margin-bottom: 50px;
    }
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;    
    
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }
  &__action {
    @media screen and (max-width:1199px){
      flex-wrap: wrap;
      gap: 30px;
    }
    display: flex;    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__link {
    display: flex;
    border: 1px solid #afb1b8;
    height: 92px;
    

    align-items: center;
    justify-content: center;
    border-radius: 4px;

    transition: border-color 250ms $time-function;
  }
  &__link:hover,
  &__link:focus {
    border-color: $blue-color;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $blue-color;
  }
  &__title{
    
        }
    @media screen and (max-width:767px){
         &__list{
          max-width: 210px;
          width:calc((100% - 1 * 30px) / 2);
        }
   }  
   @media screen and (min-width:768px) and (max-width:1199px){
        &__list{
          max-width: 226px;
          width: calc((100% - 2 * 30px)/3);
        }
   }
  
}
