.logo{
    font-family:$font-raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;   

    &--blue {
    color: $blue-color;
    }

    &--black {
    color: $black-logo-color;
    }
    &--white {
    color: $white-color;
    }
    &__footer{
    font-family: $font-raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em; 
    display: inline-block;
    margin-bottom: 20px;
    }
}

